extends layout3.pug
block content
  .new-content
    .center-wrapper
      .minimum-area.container
        .update.white
          .container
            h1= h1
          .bye-message
            button.btn.welcome-button(onclick="window.location.href = '/';")  Browse our Products