extends layout.pug
block content
  .new-content.additional-padding
    .minimum-area.container
      .main-message
        h1.main-body Under Construction
        p.main-text
          | Agora is undergoing scheduled maintenance. We will be back with you shortly. Thank  you for choosing Agora
      .png-animation
        img.pngAgora.construction(src='/images/underconstruction.png', alt='Book1')