extends layout3.pug
block content
  .new-content
    .minimum-area.container
      .png-animation
        img.pngAgora(src='/images/agora-welcome.gif', alt='Book1')
      .welcome-message
        h1.welcome-header Welcome to AGORA
        p.welcome-sub-header ENJOY YOUR JOURNEY.
        button.btn.welcome-button(onclick="window.location.href='/'")  Browse our Products
